[class^="channelTextArea"]::before {
    content: "";
    width: 76px;
    height: 85px;
    bottom: calc(100% - 10px); /* Mess with the - 3px to change its vertical position */
    right: 10px; /* Switch this from right to left to put it on the left side, or increase/decrease to change its position */
    position: absolute;
    image-rendering: pixelated;
    background-image: url("https://raw.githubusercontent.com/Fynn9563/Discord-Pet/main/Gideon.webp");
}
